/* univarsal style page */

/* font */
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Monsieur+La+Doulaise&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  /* font-family: "Poppins", sans-serif; 
     font-family: "Playfair Display", serif;
     font-family: "Dancing Script", cursive; 
     font-family: "Bonheur Royale", cursive;
     font-family: "Roboto", sans-serif; */
 
:root {
  /* background-color */
  --bg: #ced4da;
  --white : #ffffff;
  --primary: #228be6;
  --secondary: #b197fc;
  --banner: #fab005;
  --border: #e9ecef;
  --hover: #f783ac;
  --button: #f03e3e;
  --button2: #a9e34b;
}

/* bootstrap */
/* @import '~boostrap/scss/bootstrap';

:root {
  --bs-body-font-family: "Monsieur La Doulaise", cursive;
} */

*{
  /* font-family: "Poppins", sans-serif;  */
  /* font-family: "Playfair Display", serif;
  font-family: "Dancing Script", cursive; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For Chrome, Safari, Edge, and other WebKit-based browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Ensures no extra space is left behind */
}

/* For Firefox */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

/* font */
.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}


.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bonheur-royale-regular {
  font-family: "Bonheur Royale", cursive;
  font-weight: 400;
  font-style: normal;
}


.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.dm-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.praise-regular {
  font-family: "Praise", cursive;
  font-weight: 400;
  font-style: normal;
}

.amarante-regular {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
}

