
a {
    text-decoration: none;
}

.footer-section {
    border: 0px solid;
    padding: 25px 10px;
}

.copy-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  20px auto;
}

.company {
    color: var(--hover);
    font-weight: 700;
}

.nav-section {
    width: 100vw;
    margin: 0 auto;
    border: 0px solid;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
}

.navs-links {
    text-align: center;
}
.navs-links .links li {
    list-style: none;
    width: 200px;
    text-align: center;
    border: 0px solid;
    margin: 5px auto;
    padding: 5px;
    margin: 10px auto;
    background-color: var(--primary); 
    border-radius: 5px;
}
.navs-links .links li:hover {
    background-color: var(--hover);
}

.navs-links .links li a {
    padding: 5px 15px;
    text-decoration: none;
    color: var(--white);
}

.navs-links .links li a i {
    margin: 0 4px;
}

.navs-under {
    border: 0px solid;
    padding: 5px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: var(--secondary); */
}

.company-origin {
    font-weight: 700;
    color: var(--button2);
    text-decoration: overline;
    
}

.company-origin:hover {
    cursor: pointer;
    color: var(--hover);
}

.sub-note {
    border: 1px solid ;
    width: 356px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.sub-note input {
    border: none;
    outline: none;
    width: 250px;
    height: 43px;
    padding: 0px 5px 0px 15px;
}

